/venv/
/.venv/
/env/
*.pyc
*.idea
.env
*.png
*.jpg
*.jpeg
*.gif
*.svg
*.mp4
*.mp3
*.wav
*.avi
*.mov
*.webm
*.webp
/.env
staticfiles/
celerybeat-schedule
celerybeat-schedule-shm
celerybeat-schedule-wal